<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bsnotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/computer"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/computer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.device.Device_List_activity"></activity>
        <activity android:name=".activities.device.DeviceAddedSuccessfully" />
        <activity android:name=".activities.device.DetailedDevice" />
        <activity android:name=".activities.device.AddDeviceForm" />
        <activity android:name=".activities.shops.Nearby_Shop_List" />
        <activity android:name=".activities.shops.DetailedShop" />
        <activity android:name=".activities.shops.ShopAddedSuccessfully" />
        <activity android:name=".activities.shops.AddShopForm" />
        <activity android:name=".activities.authentication.User_Startup_Screen" />
        <activity android:name=".activities.authentication.SuccessPasswordMessage" />
        <activity android:name=".activities.authentication.ForgetPassword" />
        <activity android:name=".activities.authentication.Simple_SignUp_Screen" />
        <activity android:name=".activities.authentication.Login" />
        <activity android:name=".activities.slider.OnBoardingScreen" />
        <activity
            android:name=".activities.AboutDevActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SemesterActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>